**/coverage/*
**/dist/*
**/public/*
**/build/*
**/node_modules/*
**/out/*
**/.next/*
/* **/.storybook/* */
**/storybook-static/*
**/.github/*

# Ignore all HTML files:
*.html

# ...
package-lock.json
*.d.ts
