@import "../../../globalStyles/scss/variables.scss";

.side__nav {
    $item-height: 3.7rem;
    max-width: calc(100vw - 5rem);
    width: 30rem;

    &__menu__item {
        border-bottom: 1px solid $gray-light;
        display: grid;
        height: $item-height;

        &__link,
        &__back span {
            align-items: center;
            color: $base-font-color;
            display: flex;
            font-weight: 600;
            padding: $spacer;
            text-decoration: none;
            text-transform: uppercase;
            transition: 0.3s;

            svg * {
                fill: currentColor;
            }
        }

        &__logo {
            align-self: center;
            padding: 0.75rem $spacer;

            svg {
                width: 5rem;
            }
        }

        &__link,
        &__more,
        &__back,
        &__close {
            transition: 0.3s;

            &:hover {
                color: $turquoise;
            }

            svg * {
                fill: currentColor;
            }
        }

        &__close,
        &__more,
        &__back {
            &:hover {
                cursor: pointer;
            }
        }

        &__more {
            align-self: center;
            padding: 1.25rem 1.75rem;
        }

        &__back {
            svg {
                margin-right: 1rem;
            }
        }

        &__close {
            align-items: center;
            display: flex;
            height: $item-height;
            justify-content: center;

            span {
                background-color: currentColor;
                border-radius: 1px;
                height: 3px;
                width: 24px;
            }

            &:hover {
                color: $turquoise;
            }
        }

        &__has__subnavigation,
        &--parent {
            grid-template-columns: 1fr $item-height;
        }

        &--parent {
            color: $gray;

            a {
                color: inherit;
            }
        }
    }
}
